doctype html
html(lang='ru')
    head
        title Международный Факультет
        meta(charset='utf-8')
        meta(name='viewport', content='initial-scale=1, width=device-width')
        // <meta name="viewport" content="initial-scale=1, width=device-width, maximum-scale=1, minimum-scale=1, user-scalable=no">
        // // Запретить масштабирование
        meta(http-equiv='Cache-Control', content='max-age=3600, proxy-revalidate')
        meta(http-equiv='cleartype', content='on')
        meta(name='robots', content='noyaca')
        meta(name='robots', content='noodp')
        meta(name='author', content='')
        meta(name='copyright', content='(c)')
        meta(http-equiv='Reply-to', content='vladislavnurov@ya.ru')
        link(rel='shortcut icon', href='img/favicon.ico')
        // SEO
        meta(name='keywords', content='')
        meta(name='description', content='')
        // //SEO
        link(rel='stylesheet', href='css/main.css')
        // font icons
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
        script(src='js/vendor/jq191.min.js')
        script(src='js/vendor/angular.min.js')
        script(src='js/vendor/angular/controllers.js')
                
    body
        //- FIRST BLOCK
        include templates/first-block/_layout.jade

        .body-second-block    
            //- UNIVERS 
            include templates/education-block/_layout.jade

        //- TRIGGERS
        include templates/triggers-block/_layout.jade

        //- NEWS
        include templates/news-block/_layout.jade

        //- CONTACTS 
        include templates/contact-block/_layout.jade

        //- FOOTER 
        include templates/footer-block/_layout.jade

        script(src='js/vendor/fastclick.min.js')
        script(src='js/main.js')
        // Подклбючить веб-аналитику
