.news-posts-before
	.news-posts-before-item
		.news-posts-before-item-link
			| Читать все новости
			i.fa.fa-newspaper-o

	.news-posts-before-item
		.news-posts-before-item-h1
			|  Lorem ipsum dolor sit amet, consectetur.
		.news-posts-before-item-date
			| 20 Сентября 2015

	.news-posts-before-item
		.news-posts-before-item-h1
			|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, voluptatibus.
		.news-posts-before-item-date
			| 20 Сентября 2015

	.news-posts-before-item
		.news-posts-before-item-h1
			|  Lorem ipsum dolor sit amet, consectetur adipisicing.
		.news-posts-before-item-date
			| 20 Сентября 2015
