.first-block {
background: linear-gradient(to right, #fbfbfb 10%, #fdfdfd 100%);
	&-bg {
		background:transparent url('../img/first-block/bg.png') center top no-repeat;
		padding-bottom: 125px;
	}

	
}