.contact
	.content
		.contact-h1 Контакты
		.contact-hr
		.contact-left
			.contact-adres.contact-block-h1
				i.fa.fa-map-marker 
				| Адрес
			p.contact-adres-text.contact-block-text
				| г. Челябниск, 454080,<br>
				| пр. Ленина 76 (Восточное Крыло)<br>
				| Кабинет №158
		.contact-right
			.contact-phone.contact-block-h1
				i.fa.fa-phone
				| Единый справочный телефон
			p.contact-phone-text.contact-block-text
				| 8 904 805 0000
				a(href="#") 
					| Смотреть все телефоны 
					i.fa.fa-chevron-right
