.descript {
	z-index: 100;
	background:transparent url('../../../source/img/mm/mm-bg.png') center 30% no-repeat;
	background-size: cover;
	color: $main-white;
	text-shadow: 0px 1px 1px rgba($main-black, 1);
	&-line {

	}

	&-h1 {
		font-size: 20px;
		border-left: 3px solid #ccc;
		line-height: 25px;
		padding-left: 15px;
		width: 400px;
		text-transform: uppercase;
	}
	&-h2 {
		margin-top: 30px;
		width: 480px;
		font-size: 13px;
		line-height: 17px;
	}

	&-triggers {

		margin-top: 60px;

		&-item {
			@include inline-mid(1);
			margin-left: 30px;

			font-size: 15px;
			&:first-child {
				margin-left: 0;
			}
			i {
				@include inline-mid(1);
			}

			&-p {
				@include inline-mid(1);

			}
		}
	}
}