.partners {

	&-top {

	}
	&-bottom {
		text-align: center;
	}

	&-h1 {
		font-size: 25px;
		width: 24%;
		@include inline-mid(1);
		border-right: 2px solid #ccc;

	}
	&-h2 {
		text-align: justify;
		line-height: 20px;
		width: 65%;
		margin-left: 4%;
		@include inline-mid(1);

	}
	&-bottom {
		.unilever,.chtz {
			img {
			width: 100px;
			height: 100px;
			}

		}
		&-icon {
			@include inline-mid(1);
			
			img {
				box-sizing: content-box;
				width: 150px;
				padding: 50px;
			}

		}
	}
}
