// BASE
// ===================================================================
@import '../../vendor/reset.scss';
@import '../../vendor/normalize.scss';
// 
// BASE
// ===================================================================
@font-face {
	font-family: 'helveticaBold';
    src:url(../../source/fonts/HelveticaNeueCyr-Bold.otf);
}
@font-face {
	font-family: 'helveticaThin';
    src:url(../../source/fonts/HelveticaNeueCyr-Thin.otf);
}
@font-face {
	font-family: 'helveticaRoman';
    src:url(../../source/fonts/HelveticaNeueCyr-Roman.otf);
}
@font-face {
	font-family: 'helveticaLight';
    src:url(../../source/fonts/HelveticaNeueCyr-Light.otf);
}

$font-bold  :  'helveticaBold'  ;
$font-roman : 'helveticaRoman' ;
$font-light : 'helveticaLight' ;
$font-thin  :  'helveticaThin'  ;

@import '../../base/colors.scss';
@import '../../base/body.scss';
@import '../../base/buttons.scss';
@import '../../base/mixins.scss';





@import 'mm/layout.scss';
@import 'mm/header.scss';
@import 'mm/descript.scss';
@import 'mm/cta.scss';
@import 'mm/whoareyou.scss';
@import 'mm/teachers.scss';
@import 'mm/profiles.scss';
@import 'mm/partners.scss';
@import 'mm/ctabig.scss';
@import 'mm/contact.scss';
@import 'mm/footer.scss';


