// FLAT COLORS 
// ========================

$red: #EF4836;
$orange: #F5AB35;
$yellow: #F4D03F;
$green: #2ECC71;
$blue: #22A7F0;
$purple: #9B59B6;

$white: #fff;
$black: #222;
$gray: #22313F;


$main-black: #555;
$main-blue: #039cec;
$main-gray: #999;
$main-white: #f9f9f9;
$main-white-background: #f5f5f5;
$main-white-block: #fff;