.news-tab {
	font-size: 15px;


	* {
		::selection { background: none; }
	}
	&-lastnews {
		position: relative;
		width: 300px;
		padding: 1px;
		@include inline-top(1);

		&-img {
			height: 200px;
			@include material-shadow(1);

			img {
				height: auto;
			}
		}
		&-h1 {
			cursor: pointer;
			font-family: $font-bold;
			font-size: 17px;
			margin-top: 30px;
			&:hover {
				text-decoration: underline;
			}
		}
		&-h2 {
			margin-top: 15px;
		}
		&-link {
			font-size: 12px;
			float: right;
			margin-top: 15px;
			@include inline-bot(1);
		}
		&-date {
			font-size: 12px;
			margin-top: 15px;
			color: $main-gray;
		}
	}
	&-beforenews {
		width: 300px;
		margin-left: 30px;
		@include inline-top(1);

		&-item {
			margin-top: 20px;
			padding-bottom: 20px;
			border-bottom: 1px solid lighten($main-gray, 30%);

			&:first-child {
				margin-top: 0;
			}
			&:last-child {
				padding-bottom: 0;
				border-bottom: 0 solid lighten($main-gray, 30%);
			}
			&-h1 {
				cursor: pointer;
				text-align: justify;
				&:hover {
					text-decoration: underline;
				}
			}
			&-date {
				@extend .news-tab-lastnews-date;
			}
			&-link {
				padding: 15px;
				cursor: pointer;
				color: $main-blue;
				border: 1px solid;
				border-radius: 2px;

				i {
					float: right;
				}
				&:hover {
					transform: translateY(1px);
				}
				&:active {
					transform: translateY(3px);
				}
			}
		}
	}
}