.news-tabs {
	font-size: 30px;
	border-bottom: 1px solid lighten($main-gray, 30%);
	padding-bottom: 30px;
	&-item {
		::selection { background: none; }
		
		font-family: $font-light;
		margin-left: 30px;
		@include inline-mid(1);

		&:first-child {
			margin-left: 0;
		}
		&-h1 {
			letter-spacing: .5px;
			i {
				padding-right: 15px;
				color: $main-blue;
				@include inline-bot(1);
			}
			// &:hover {
			// cursor: pointer;
			// 	transform: translateY(1px);
			// 	color: $main-blue;
			// }
			// &:active {
			// cursor: pointer;
			// 	transform: translateY(3px);
			// }
		}
	}
}