.news-posts-last
	.news-posts-last-img
		img(src="http://lorempixel.com/300/200/business", alt="")
	.news-posts-last-h1
		|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, dolores.
	.news-posts-last-h2
		| Инструменты проектного управления, возможности построения детальных моделей развития...
	.news-posts-last-date
		| 28 Сентября 2015