.messages-tab 
	.messages-tab-h1
		i.fa.fa-bell-o
		| Оповещения
	.messages-tab-item
		.messages-tab-item-date
			.day 03
			.month Сентбяря
		.messages-tab-item-h1
			| Шафутинский перевернет календарь
	.messages-tab-item
		.messages-tab-item-date
			.day 04
			.month Сентбяря
		.messages-tab-item-h1
			| Шафутинский перевернул календарь

	.messages-tab-item
		.messages-tab-item-date
			.day 03
			.month Сентбяря
		.messages-tab-item-h1
			| И снова 3 сентября