.news-tab
	.news-tab-lastnews
		.news-tab-lastnews-img

			img(src="http://lorempixel.com/300/200/business", alt="")
		.news-tab-lastnews-h1
			|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, dolores.
		.news-tab-lastnews-h2
			| Инструменты проектного управления, возможности построения детальных моделей развития...
		//- .news-tab-lastnews-link
		//- 	a(href="http://#", target="_blank") Читать далее
		.news-tab-lastnews-date
			| 28 Сентября 2015


	.news-tab-beforenews
		.news-tab-beforenews-item
			.news-tab-beforenews-item-link
				| Читать все новости
				i.fa.fa-newspaper-o

		.news-tab-beforenews-item
			.news-tab-beforenews-item-h1
				|  Lorem ipsum dolor sit amet, consectetur.
			.news-tab-beforenews-item-date
				| 20 Сентября 2015

		.news-tab-beforenews-item
			.news-tab-beforenews-item-h1
				|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, voluptatibus.
			.news-tab-beforenews-item-date
				| 20 Сентября 2015

		.news-tab-beforenews-item
			.news-tab-beforenews-item-h1
				|  Lorem ipsum dolor sit amet, consectetur adipisicing.
			.news-tab-beforenews-item-date
				| 20 Сентября 2015
