.descript {
	.content {
		padding-top: 100px;
		padding-bottom: 100px
	}
}
.first-block {
	background: linear-gradient(to right, #fbfbfb 10%, #fdfdfd 100%);

	&-bg {
		padding-bottom: 30px;
		background: transparent url('../source/img/index-page/first-block/bg-big.png') 49% 50% no-repeat
	}
}
.descript {
	// ************************************
	// LAYOUT 
	// 
	.left-block {
		width: 70%;
		@include inline-top(1)
	}
	.right-block {
		width: 29.53%;
		@include inline-top(1)
	}
}