.news-posts-last {
	position: relative;

	&-img {
		height: 200px;
		@include material-shadow(1);

		img {
			height: auto;
		}
	}
	&-h1 {
		cursor: pointer;
		font-family: $font-bold;
		font-size: 17px;
		margin-top: 30px;
		&:hover {
			text-decoration: underline;
		}
	}
	&-h2 {
		margin-top: 15px;
	}
	&-link {
		font-size: 12px;
		float: right;
		margin-top: 15px;
		@include inline-bot(1);
	}
	&-date {
		font-size: 12px;
		margin-top: 15px;
		color: $main-gray;
	}
}