.feedback
	.content
		.feedback-priemnaya
			.feedback-priemnaya-h1
				| Ответим на все ваши вопросы
			.feedback-priemnaya-button
				p Интернет-приёмная
				img(src="img/icons/internet-priem-button-icon.png", alt="")
		.feedback-phone
			.feedback-phone-h1
				| Единый справочный телефон
			.feedback-phone-number
				| 8 904 805 0000