.header
	.content
		a(href='/')
			.header-logo
				// placehold.it - img
		a(href='http://susu.ru', target="_blank" )		
			.header-logo-susu
				// placehold.it - img
		.header-menu
			nav
				ul
					li 
						a(href='#preimushestva').button Преимущества
					li 
						a(href='#obuchenie').button Обучение
					li 
						a(href='#').button Профессиональное образование
					li 
						a(href='#contact').button Контакты
		.header-login
			.header-login-button.button
				i.fa.fa-user
				span Войти