.descript-notify
	.descript-notify-h1
		i.fa.fa-calendar-o
		| Ближайшее событие
	.descript-notify-descript
		.descript-notify-descript-date
			.day 08
			.month Октября
		.descript-notify-descript-h2
			| День открытых дверей