.footer
	.content
		.footer-logo
			img(src="img/logo.png", alt="")
			span 
				| Южно-Уральский Государственный Университет
				br
				| Международный Факультет
		.footer-sitemap
			.footer-sitemap-block
				.footer-sitemap-item
					| Общие положения
				.footer-sitemap-item
					| Карта сайта
				.footer-sitemap-item
					| Lorem ipsum
			.footer-sitemap-block
				.footer-sitemap-item
					| Общие положения
				.footer-sitemap-item
					| Карта сайта

		.footer-headera
			a(href="http://headera.ru", target="_blank")
				p Разработка сайта
				.footer-headera-logo headera.ru
