.education {
	

	.content {
	}

	&-h1 {
		font-family: $font-light;
		text-align: left;
		font-size: 30px;
		padding-bottom: 30px;
		border-bottom: 1px solid #ddd;
	}
	&-items {
		text-align: center;

		&-item {
			&::selection {
				background:none;
			}
			cursor: pointer;
			background: #f2f2f2;
			width: 200px;
			@include inline-top(1);
			@include material-shadow(1);
			&:hover {
				transform: translateY(-2px);
			}
			&:active {
				transform: translateY(0px);
			}
			&-h1 {
				&::selection {
					background:none;
				}
				letter-spacing: .3px;
				font-family: $font-light;
				font-size: 20px;
			}
			&-h2 {
				&::selection {
					background:none;
				}
				line-height: 15px;
				letter-spacing: .3px;
				font-size: 12px;
			}
		}
	}
}