.obuchenie {
	background: #f5f5f5;

	.content {
		padding: 0 30px;
		border-radius: 4px;
		min-height: 456px;
	}
	&-menu {
		&-item {
			width: 30%;
			margin-left: 43px;
			padding-top: 60px;
			padding-bottom: 15px;
			text-decoration: none;
			border-bottom: 1px solid #ddd;
			@include inline-mid(1);

			&:first-child {
				margin-left: 0;
			}
			&:hover {
				border-bottom: 1px solid lighten($main-blue, 15%);
			}
			&-icon {
				width: 50px;
				height: 50px;
				border-radius: 100%;
				background: #999;
				@include inline-mid(1);
			}
			.mba-logo {
				background: transparent url('../source/img/index-page/icons/mba-logo.png') left top no-repeat;
				background-size: cover;
			}
			&-h1 {
				font-size: 20px;
				margin-left: 15px;
				cursor: pointer;
				color: $main-black;
				@include inline-mid(1);
			}
			i {
				font-size: 12px;
				font-style: normal;
				display: block;
				padding-bottom: 5px;
				color: $main-gray;
			}
		}
	}
	// FIRST
	// 
	// 
	.obuchenie-content-first {
		text-align: center;
		@include a-show(1);
		&-item {
			position: relative;
			width: 33.372%;
			height: 300px;
			margin-left: -5px;
			cursor: pointer;
			color: $main-black;
			background: #333;
			@include inline-top(1);
			p {

				font-weight: normal;
				font-size: 17px;
				width: 150px;
				height: 15px;
				position: absolute;
				top: 0;bottom: 0;right: 0;left: 0;
				margin: auto;
				color: #fff;
			}
			&:first-child {
				margin-left: 0;
				border-top-left-radius: 10px;
			}
			&:last-child {
				border-top-right-radius: 10px;
			}
			&:first-child {
				margin-left: 0;
			}
			&:hover {
			}
		}
	}
	&-content {
		padding-top: 30px;
		@include a-show-mid(1);

		&-block {
			padding-bottom: 60px;
			@include a-show-mid(1);

			&-sidebar {
				width: 30%;
				@include a-show-mid(1);
				@include inline-top(1);

				&-menu {
					&-h1 {
						i {
							font-size: 17px;
							font-style: normal;
							text-align: left;
							color: $main-black;
							@include inline-mid(1);
						}
					}
					&-item {
						font-size: 15px;
						display: block;
						margin-top: 15px;
						text-decoration: none;
						color: $main-gray;

						&:hover {
							transform: translateX(3px);
							color: $main-blue;
						}
						&-h2 {
							font-size: 17px;
							display: block;
							margin-top: 15px;
							text-decoration: none;
							color: $main-black;

							&:nth-child(3) {
								margin-top: 120px;
							}
							&:hover {
								transform: translateX(3px);
								color: $main-blue;
							}
						}
					}
				}
			}
			&-content {
				width: 69.5%;
				@include inline-top(1);
				@include a-show-mid(1);

				&-top {
					&-h1 {
						font-size: 20px;
						width: 30%;
						color: $main-blue;
						@include inline-bot(1);
					}
					&-ege {
						font-size: 12px;
						width: 69%;
						text-align: right;
						color: $main-gray;
						@include inline-bot(1);
					}
				}
				&-chemuuchat {
					width: 45%;
					margin-top: 60px;
					text-align: justify;
					@include inline-top(1);

					&-h1 {
						padding-left: 15px;
						border-left: 3px solid $main-blue;
					}
					&-descript {
						font-size: 13px;
						line-height: 17px;
						margin-top: 15px;
					}
				}
				&-cafedra {
					width: 45%;
					margin-top: 60px;
					margin-left: 9%;
					@include inline-top(1);

					&-h1 {
						padding-left: 15px;
						border-left: 3px solid $main-blue;
					}
				}
				&-profiles {
					margin-top: 30px;

					&-h1 {
						padding-left: 15px;
						border-left: 3px solid $main-blue;
					}
					&-item {
						width: 32.6%;
						margin-top: 15px;
						text-align: center;
						@include inline-top(1);

						&-icon {
							width: 100px;
							height: 100px;
							margin: auto;
							border-radius: 100%;
							background: #999;
						}
						&-h1 {
							font-size: 13px;
							font-weight: bold;
							margin-top: 15px;
						}
					}
				}
				&-bottom {
					margin-top: 60px;

					&-info, &-formi {
						font-size: 12px;
						width: 60%;
						padding-left: 10px;
						border-left: 3px solid lighten($main-gray, 20%);
						@include inline-top(1);

						&-h1 {
							font-size: 13px;
							font-weight: bold;
							color: lighten($main-gray, 10%);
						}
					}
					&-formi {
						width: 33%;
						margin-left: 5%;
						text-align: left;
					}
					.left {
						width: 48%;
						margin-top: 10px;
						@include inline-top(1);

						i {
							font-style: normal;
							display: block;
							margin-top: 5px;
						}
					}
					.right {
						width: 49%;
						margin-top: 10px;
						@include inline-top(1);

						i {
							font-style: normal;
							display: block;
							margin-top: 5px;
							color: lighten($main-gray, 10%);
						}
					}
				}
			}
		}
	}
}