.obuchenie {
	padding: 30px 0;

	.content {
		padding: 30px;
		border-radius: 4px;
		background: lighten($main-white, 35.4%);
		@include material-shadow-mid(1);
	}
	&-menu {
		&-item {
			width: 30%;
			margin-left: 43px;
			padding-bottom: 15px;
			text-decoration: none;
			border-bottom: 1px solid #ddd;
			@include inline-mid(1);

			&:first-child {
				margin-left: 0;
			}
			&:hover {
				border-bottom: 1px solid lighten($main-blue, 15%);
			}
			&-icon {
				width: 50px;
				height: 50px;
				border-radius: 100%;
				background: #999;
				@include inline-mid(1);
			}
			.mba-logo {
				background: transparent url('../../../source/img/index-page/icons/mba-logo.png') left top no-repeat;
				background-size: cover;
			}
			&-h1 {
				font-size: 20px;
				margin-left: 15px;
				cursor: pointer;
				color: $main-black;
				@include inline-mid(1);
			}
			i {
				font-size: 12px;
				font-style: normal;
				display: block;
				padding-bottom: 5px;
				color: $main-gray;
			}
		}
	}

	
	&-content {
		padding-top: 30px;

		&-block {


			&-sidebar {
				@include inline-top(1);
				width: 30%;
				// border-right: 2px solid #ddd;
				
				&-menu {
					&-h1 {
						&-icon {
							width: 50px;
							height: 50px;
							margin: auto;
							border-radius: 100%;
							background: #ddd;
							@include inline-mid(1);
						}
						i {
							color: $main-black;
							font-size: 20px;
							font-style: normal;
							text-align: left;
							@include inline-mid(1);
						}
					}
					&-item {
						display: block;
						text-decoration: none;
						color: $main-gray;
						margin-top: 15px;
						font-size: 15px;
						&:hover {
							color: $main-blue;
						}
					}				
				}
			}


			&-content {
				@include inline-top(1);
				width: 69.5%;


				&-top {
					
					&-h1 {
						color: $main-blue;
						@include inline-top(1);
						font-size: 20px;
						width: 40%;

					}
					&-ege {
						text-align: right;
						@include inline-top(1);
						font-size: 12px;
						color: $main-gray;
						width: 59%;
					}

				}
				&-chemuuchat {
					@include inline-top(1);
					text-align: justify;
					width: 45%;
					margin-top: 30px;
					&-h1 {
						border-left: 3px solid $main-blue;
						padding-left: 15px;
					}
					&-descript {
						margin-top: 15px;
						font-size: 13px;
						line-height: 17px;
					}

				}
				&-cafedra {
					@include inline-top(1);
					margin-left: 9%;
					width: 45%;
					margin-top: 30px;
					
					&-h1 {
						border-left: 3px solid $main-blue;
						padding-left: 15px;
					}

				}
				&-profiles {
					margin-top: 30px;
					&-h1 {
						border-left: 3px solid $main-blue;
						padding-left: 15px;
					}
					&-item {
						@include inline-top(1);
						width: 32.6%;
						margin-top: 15px;
						text-align: center;

						&-icon {
							width: 100px;
							height: 100px;
							background: #999;
							margin: auto;
							border-radius: 100%;
						}
						&-h1 {
							margin-top: 15px;
							font-weight: bold;
							font-size: 13px;
						}
					}
				}
				&-bottom {
					margin-top: 60px;
					
					&-info, &-formi {
						width: 60%; 
						@include inline-top(1);
						font-size: 12px;
						border-left: 2px solid lighten($main-gray, 20%);
						padding-left: 10px;
						&-h1 {
							color: lighten($main-gray, 10%);
							font-weight: bold;
							font-size: 13px;
						}
					}
					&-formi { 
						margin-left: 5%;
						text-align: left;
						width: 33%;
					}
					.left {
						margin-top: 10px;
						@include inline-top(1);
						width: 48%;

						i {
							display: block;
							margin-top: 5px;
							font-style: normal;

						}
					}
					.right { 
						margin-top: 10px;
						@include inline-top(1);
						width: 49%;
						i {
							color: lighten($main-gray, 10%);
							display: block;
							margin-top: 5px;
							font-style: normal;

						}
					}
				}


			}
		}
	}
}
