.education#obuchenie
	.content
		.education-h1
			| Поступающим
		.education-items
			.education-items-item
				.education-items-item-h1
					| Бакалавриат
				.education-items-item-h2
					| На базе 11 классов.
			.education-items-item
				.education-items-item-h1
					| Магистратура
				.education-items-item-h2
					| На базе высшего образования.
			.education-items-item
				.education-items-item-h1
					| Бизнес-школа
				.education-items-item-h2
					|  Lorem ipsum dolor sit amet.
			.education-items-item
				.education-items-item-h1
					| Профессиональная переподготовка
				.education-items-item-h2
					|  Lorem ipsum dolor sit amet, consectetur adipisicing.