* { 	
	-webkit-transition: all .1s;
	-moz-transition: all .1s;
	-ms-transition: all .1s;
	-o-transition: all .1s;
	transition: all .1s;
	box-sizing: border-box;

}
body {
	background: $main-white-background;
	color: $main-black;
	
	font-family: $font-roman, sans-serif;
	cursor: default;
	min-width: 1020px;
	.body-second-block {
		margin-top: -50px;
	}

}
.header {
	::selection {
		background: none; /* Safari */
	}
}
.button {

	cursor: pointer;
}



