.news-messages 
	.news-messages-h1
		i.fa.fa-bell-o
		| Оповещения
	.news-messages-item
		.news-messages-item-date
			.day 03
			.month Сентбяря
		.news-messages-item-h1
			| Шафутинский перевернет календарь
	.news-messages-item
		.news-messages-item-date
			.day 04
			.month Сентбяря
		.news-messages-item-h1
			| Шафутинский перевернул календарь

	.news-messages-item
		.news-messages-item-date
			.day 03
			.month Сентбяря
		.news-messages-item-h1
			| И снова 3 сентября