.contact {

	
// LAYOUT
	&-left {
		@include inline-top(1);
		margin-top: 30px;
		width: 49.77%;

	}
	&-right {
		@include inline-top(1);
		margin-top: 30px;
		width: 49.77%;
		text-align: right;

	}

// ---

	&-h1 {
		font-size: 30px;



	}
	&-hr {
		margin-top: 30px;
		height: 3px;
		width: 50px;
		background: lighten($main-gray, 20%);

	}
	&-block {
		&-h1 {
			font-size: 20px;
			font-family: $font-light;
			i {
				color: $main-red;
				margin-right: 15px;
			}
		}
		&-text {
			font-size: 15px;
			margin-top: 15px;
			line-height: 20px;
		}
	}
	&-phone-text {
		line-height: 40px;
		font-size: 43px;
		font-family: $font-thin;
		a {
			line-height: 20px;
			font-family: $font-roman;
			font-size: 12px;
			text-decoration: none;
			display: block;
			color: $main-gray;
			letter-spacing: .5px;
			i {
				font-size: 10px;
			}
			&:hover {
				color: $main-blue;
				i {
					color: $main-blue;
				}
			}
		}
	}
}