<!DOCTYPE html>
<html lang="ru" ng-app>
  <head>
    <title>Международный Факультет</title>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, width=device-width">
    <!-- <meta name="viewport" content="initial-scale=1, width=device-width, maximum-scale=1, minimum-scale=1, user-scalable=no">-->
    <!-- // Запретить масштабирование-->
    <meta http-equiv="Cache-Control" content="max-age=3600, proxy-revalidate">
    <meta http-equiv="cleartype" content="on">
    <meta name="robots" content="noyaca">
    <meta name="robots" content="noodp">
    <meta name="author" content="">
    <meta name="copyright" content="(c)">
    <meta http-equiv="Reply-to" content="vladislavnurov@ya.ru">
    <link rel="shortcut icon" href="source/img/favicon.ico">
    <!-- SEO-->
    <meta name="keywords" content="">
    <meta name="description" content="">
    <!-- //SEO-->
    <link rel="stylesheet" href="styles/index-page.css">
    <!-- font icons-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <script src="source/js/vendor/jq191.min.js"></script>
    <script src="source/js/vendor/angular.min.js"></script>
    <script src="source/js/angular/controllers.js"></script>
  </head>
  <body >
    <div class="mba-link"><img src="source/img/mba.png" alt="">
      <div class="mba-link-h1">MBA<br>Центр</div>
    </div>
    <div class="first-block">
      <div class="first-block-bg">
        <div class="header">
          <div class="content"><a href="/">
              <div class="header-logo">
                <!-- placehold.it - img-->
              </div></a><a href="http://susu.ru" target="_blank">		
              <div class="header-logo-susu">
                <!-- placehold.it - img-->
              </div></a>
            <div class="header-menu">
              <nav>
                <ul>
                  <li> <a href="#preimushestva" class="button">Преимущества</a></li>
                  <li> <a href="#obuchenie" class="button">Обучение</a></li>
                  <li> <a href="#" class="button">Профессиональное образование</a></li>
                  <li> <a href="#contact" class="button">Контакты</a></li>
                </ul>
              </nav>
            </div>
            <div class="header-login">
              <div class="header-login-button button"><i class="fa fa-user"></i><span>Войти</span></div>
            </div>
          </div>
        </div>
        <div class="descript">
          <div class="content">
            <div class="left-block">
              <h1 class="descript-h1">Международный<br>Факультет</h1>
              <div class="descript-hr"></div>
              <h2 class="descript-h2">Мы не просто преподаём экономику и учим управлять,<br>мы делаем вам статус.</h2>
            </div>
            <div class="right-block">
              <div class="descript-notify">
                <div class="descript-notify-h1"><i class="fa fa-calendar-o"></i>Ближайшее событие</div>
                <div class="descript-notify-descript">
                  <div class="descript-notify-descript-date">
                    <div class="day">08</div>
                    <div class="month">Октября</div>
                  </div>
                  <div class="descript-notify-descript-h2">День открытых дверей</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="feedback">
          <div class="content">
            <div class="feedback-priemnaya">
              <div class="feedback-priemnaya-h1">Ответим на все ваши вопросы</div>
              <div class="feedback-priemnaya-button" ng-init="modalPriem = 0" ng-click="modalPriem = 1">
                <p>Интернет-приёмная</p><img src="source/img/index-page/icons/internet-priem-button-icon.png" alt="">
              </div>
              <div class="feedback-priemnaya-modal animate-hide" ng-hide="modalPriem === 0"  ng-show="modalPriem === 1">
                <div class="triangle"></div>
                <div class="feedback-priemnaya-modal-top">
                  <div class="feedback-priemnaya-modal-top-h1">
                    <i class="fa fa-comments-o"></i> Интернет-приёмная
                  </div>
                  <i class="fa fa-close" ng-click="modalPriem = 0"></i>
                </div>
                <div class="feedback-priemnaya-modal-form">
                  <form action="" class="feedback-priemnaya-modal-form">
                    <div class="feedback-priemnaya-modal-form-name">
                      <p class="feedback-priemnaya-modal-form-p-name">Ваше имя:</p>
                      <input name="name" type="name" class="feedback-priemnaya-modal-form-input-name">           
                    </div>
<!--                     <div class="feedback-priemnaya-modal-form-phone">
                      <p class="feedback-priemnaya-modal-form-p-phone">Ваш телефон:</p>
                      <input type="phone" class="feedback-priemnaya-modal-form-input-phone">           
                    </div> -->
                    <div class="feedback-priemnaya-modal-form-mail">
                      <p class="feedback-priemnaya-modal-form-p-mail">Ваша почта или телефон*:</p>
                      <input name="email" type="email" class="feedback-priemnaya-modal-form-input-mail">           
                    </div>
                    <div class="feedback-priemnaya-modal-form-message">
                      <p class="feedback-priemnaya-modal-form-p-message">Ваше сообщение*:</p>
                      <textarea name="message"  maxlength="3000" class="feedback-priemnaya-modal-form-input-message"></textarea>           
                    </div>
                    <a href="#" class="feedback-priemnaya-modal-form-confid">Политика конфиденциальности</a>
                    <a href="#" class="feedback-priemnaya-modal-form-submit">
                      <i class="fa fa-paper-plane-o"></i>  Отправить
                    </a>
                  </form>
                </div>
              </div>
            </div>
            <div class="feedback-phone">
              <div class="feedback-phone-h1">Единый справочный телефон</div>
              <div class="feedback-phone-number">8 904 805 0000</div>
            </div>
          </div>
        </div>
      </div>
    </div>
<!--     <div id="obuchenie" class="education">
      <div class="content">
        <div class="education-h1">Поступающим</div>
        <div class="education-items">
          <div class="education-items-item">
            <div class="education-items-item-h1">Бакалавриат</div>
            <div class="education-items-item-h2">На базе 11 классов.</div>
          </div>
          <div class="education-items-item">
            <div class="education-items-item-h1">Магистратура</div>
            <div class="education-items-item-h2">На базе высшего образования.</div>
          </div>
          <div class="education-items-item">
            <div class="education-items-item-h1">Бизнес-школа</div>
            <div class="education-items-item-h2"> Lorem ipsum dolor sit amet.</div>
          </div>
          <div class="education-items-item">
            <div class="education-items-item-h1">Профессиональная переподготовка</div>
            <div class="education-items-item-h2"> Lorem ipsum dolor sit amet, consectetur adipisicing.</div>
          </div>
        </div>
      </div>
    </div> -->
    <div id="obuchenie" class="obuchenie">
      <div class="content">
        <div class="obuchenie-menu">
          <a href="#33" class="obuchenie-menu-item" ng-click="obuchenie = 1">
            <span class="obuchenie-menu-item-icon"></span>
            <span class="obuchenie-menu-item-h1">
              <i>Информация</i>
              Поступающему
            </span>
          </a>
          <a href="#1233" class="obuchenie-menu-item" ng-click="obuchenie = 2">
            <span class="obuchenie-menu-item-icon"></span>
            <span class="obuchenie-menu-item-h1">
              <i>Информация</i>
              Студенту
            </span>
          </a>
          <a href="#123" class="obuchenie-menu-item" ng-click="obuchenie = 3">
            <span class="obuchenie-menu-item-icon mba-logo"></span>
            <span class="obuchenie-menu-item-h1">
              <i>Программы бизнес-школы</i>
              MBA
            </span>
          </a>
        </div>
        <div class="obuchenie-content" ng-init="obuchenie = 1">
          <div class="obuchenie-postupashka" ng-show="obuchenie === 1">
            <div class="obuchenie-postupashka-sidebar">
              
            </div>
            <div class="obuchenie-postupashka-content" >
              Поступающему
            </div>
          </div>
          <div class="obuchenie-postupashka" ng-show="obuchenie === 2">
            <div class="obuchenie-postupashka-sidebar">
              
            </div>
            <div class="obuchenie-postupashka-content">
              Студенту
            </div>
          </div>
          <div class="obuchenie-postupashka" ng-show="obuchenie === 3">
            <div class="obuchenie-postupashka-sidebar">
              
            </div>
            <div class="obuchenie-postupashka-content">
              MBA
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="preimushestva" class="triggers">
      <div class="content"> 
        <div class="triggers-h1">Международный <br>факультет это:</div>
        <div class="triggers-stats">
          <div class="triggers-stats-items"> 
            <div class="triggers-stats-items-item"><i class="fa fa-line-chart"></i>
              <p class="first">30 Лет</p>
              <p class="second">Образовательной деятельности</p>
            </div>
            <div class="triggers-stats-items-item"><i class="fa fa-folder-open"></i>
              <p class="first">Более 100</p>
              <p class="second">Образовательных программ</p>
            </div>
            <div class="triggers-stats-items-item"><i class="fa fa-graduation-cap"></i>
              <p class="first">150 000+</p>
              <p class="second">Выпускников</p>
            </div>
            <div class="triggers-stats-items-item"><i class="fa fa-users"></i>
              <p class="first">27</p>
              <p class="second">Партнеров-работодателей</p>
            </div>
            <div class="triggers-stats-items-item"><i class="fa fa-male"></i>
              <p class="first">5 000+</p>
              <p class="second">Студентов</p>
            </div>
          </div>
        </div>
        <div class="triggers-left">
          <div class="triggers-line">
            <div class="triggers-item triggers-item-it triggers-square">
              <p>Современные<br>IT-технологии</p>
            </div>
            <div class="triggers-item triggers-item-home triggers-rectangle">
              <p>Помощь иногородним студентам<br>по вопросу жилья</p>
            </div>
          </div>
          <div class="triggers-line">
            <div class="triggers-item triggers-item-team triggers-rectangle">
              <p>Высококвалифицированный<br>педагогически состав</p>
            </div>
            <div class="triggers-item triggers-item-fun triggers-square">
              <p>Программы<br>внеучебной жизни</p>
            </div>
          </div>
        </div>
        <div class="triggers-right">
          <div class="triggers-item-wandt triggers-verticalrect">
            <p>«Work & Travel»<br></p>
            <p>Программа зарубежного<br>обучения</p>
          </div>
        </div>
        <div class="triggers-button"><i class="fa fa-quote-right"></i>Узнать больше о факультете </div>
      </div>
    </div>
    <div class="news">
      <div class="content">
        <div class="news-h1"> <i class="fa fa-newspaper-o"></i>Новости</div>
        <div class="news-posts-last">
          <div class="news-posts-last-img"><img src="http://lorempixel.com/300/200/business" alt=""></div>
          <div class="news-posts-last-h1"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, dolores.</div>
          <div class="news-posts-last-h2">Инструменты проектного управления, возможности построения детальных моделей развития...</div>
          <div class="news-posts-last-date">28 Сентября 2015</div>
        </div>
        <div class="news-posts-before">
          <div class="news-posts-before-item">
            <div class="news-posts-before-item-link">Читать все новости<i class="fa fa-newspaper-o"></i></div>
          </div>
          <div class="news-posts-before-item">
            <div class="news-posts-before-item-h1"> Lorem ipsum dolor sit amet, consectetur.</div>
            <div class="news-posts-before-item-date">20 Сентября 2015</div>
          </div>
          <div class="news-posts-before-item">
            <div class="news-posts-before-item-h1"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, voluptatibus.</div>
            <div class="news-posts-before-item-date">20 Сентября 2015</div>
          </div>
          <div class="news-posts-before-item">
            <div class="news-posts-before-item-h1"> Lorem ipsum dolor sit amet, consectetur adipisicing.</div>
            <div class="news-posts-before-item-date">20 Сентября 2015</div>
          </div>
        </div>
        <div class="news-messages"> 
          <div class="news-messages-h1"><i class="fa fa-bell-o"></i>Оповещения</div>
          <div class="news-messages-item">
            <div class="news-messages-item-date">
              <div class="day">03</div>
              <div class="month">Сентбяря</div>
            </div>
            <div class="news-messages-item-h1">Шафутинский перевернет календарь</div>
          </div>
          <div class="news-messages-item">
            <div class="news-messages-item-date">
              <div class="day">04</div>
              <div class="month">Сентбяря</div>
            </div>
            <div class="news-messages-item-h1">Шафутинский перевернул календарь</div>
          </div>
          <div class="news-messages-item">
            <div class="news-messages-item-date">
              <div class="day">03</div>
              <div class="month">Сентбяря</div>
            </div>
            <div class="news-messages-item-h1">И снова 3 сентября</div>
          </div>
        </div>
      </div>
    </div>
    <div class="contact">
      <div class="content">
        <div class="contact-h1">Контакты</div>
        <div class="contact-hr"></div>
        <div class="contact-left">
          <div class="contact-adres contact-block-h1"><i class="fa fa-map-marker"> </i>Адрес</div>
          <p class="contact-adres-text contact-block-text">
            г. Челябниск, 454080,<br>
            пр. Ленина 76 (Восточное Крыло)<br>
            Кабинет №158
          </p>
        </div>
        <div class="contact-right">
          <div class="contact-phone contact-block-h1"><i class="fa fa-phone"></i>Единый справочный телефон</div>
          <p class="contact-phone-text contact-block-text">8 904 805 0000<a href="#">
               
              Смотреть все телефоны <i class="fa fa-chevron-right"></i></a></p>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="content">
        <div class="footer-logo"><img src="source/img/logo.png" alt=""><span>
             
            Южно-Уральский Государственный Университет<br>Международный Факультет</span></div>
        <div class="footer-sitemap">
          <div class="footer-sitemap-block">
            <div class="footer-sitemap-item">Общие положения</div>
            <div class="footer-sitemap-item">Карта сайта</div>
            <div class="footer-sitemap-item">Lorem ipsum</div>
          </div>
          <div class="footer-sitemap-block">
            <div class="footer-sitemap-item">Общие положения</div>
            <div class="footer-sitemap-item">Карта сайта</div>
          </div>
        </div>
        <div class="footer-headera"><a href="http://headera.ru" target="_blank">
            <p>Разработка сайта</p>
            <div class="footer-headera-logo">headera.ru</div></a></div>
      </div>
    </div>
    <script src="source/js/vendor/fastclick.min.js"></script>
    <script src="source/js/main.js"></script>
    <!-- Подклбючить веб-аналитику-->
  </body>
</html>