.triggers
	.content 
		.triggers-left
			.triggers-line
				.triggers-item-it.triggers-square
					p Современные<br>IT-технологии
				.triggers-item-home.triggers-rectangle
					p Помощь иногородним студентам<br>по вопросу жилья
			.triggers-line
				.triggers-item-team.triggers-rectangle
					p Высококвалифицированный<br>педагогически состав
				.triggers-item-fun.triggers-square
					p Программы<br>внеучебной жизни
		.triggers-right
				.triggers-item-wandt.triggers-verticalrect
					p «Work & Travel»<br>
					p Программа зарубежного<br>обучения