.triggers#preimushestva
	.content 
		.triggers-h1
			| Международный 
			br
			| факультет это:

		.triggers-stats
			.triggers-stats-items 
				.triggers-stats-items-item
					i.fa.fa-line-chart
					p.first
						| 30 Лет
					p.second
						| Образовательной деятельности
				.triggers-stats-items-item
					i.fa.fa-folder-open
					p.first
						| Более 100
					p.second
						| Образовательных программ
				.triggers-stats-items-item
					i.fa.fa-graduation-cap
					p.first
						| 150 000+
					p.second
						| Выпускников
				.triggers-stats-items-item
					i.fa.fa-users
					p.first
						| 27
					p.second
						| Партнеров-работодателей
				.triggers-stats-items-item
					i.fa.fa-male
					p.first
						| 5 000+
					p.second
						| Студентов
		.triggers-left
			.triggers-line
				.triggers-item.triggers-item-it.triggers-square
					p Современные<br>IT-технологии
				.triggers-item.triggers-item-home.triggers-rectangle
					p Помощь иногородним студентам<br>по вопросу жилья
			.triggers-line
				.triggers-item.triggers-item-team.triggers-rectangle
					p Высококвалифицированный<br>педагогически состав
				.triggers-item.triggers-item-fun.triggers-square
					p Программы<br>внеучебной жизни

					
		.triggers-right
				.triggers-item-wandt.triggers-verticalrect
					p «Work & Travel»<br>
					p Программа зарубежного<br>обучения
		.triggers-button
			i.fa.fa-quote-right
			| Узнать больше о факультете 
