* {
	-webkit-transition: all .1s;
	-moz-transition: all .1s;
	-ms-transition: all .1s;
	-o-transition: all .1s;
	transition: all .1s;
	box-sizing: border-box;
}
body {
	background: $main-white-background;
	color: $main-black;
	min-width: 1020px;
	font-family: $font-roman, sans-serif;
}
.header {
	cursor: default;
}
.button {
	cursor: pointer;
}