@font-face {
	font-family: 'helveticaB';
    src:url(../fonts/helveticaB.otf);
}
@font-face {
	font-family: 'helveticaL';
    src:url(../fonts/helveticaL.otf);
}
@font-face {
	font-family: 'helveticaEL';
    src:url(../fonts/helveticaEL.otf);
}

$font-main: 'helveticaL';
$font-el: 'helveticaEL';
$font-b: 'helveticaB';