@font-face {
	font-family: 'helveticaBold';
    src:url(../fonts/HelveticaNeueCyr-Bold.otf);
}
@font-face {
	font-family: 'helveticaThin';
    src:url(../fonts/HelveticaNeueCyr-Thin.otf);
}
@font-face {
	font-family: 'helveticaRoman';
    src:url(../fonts/HelveticaNeueCyr-Roman.otf);
}

$font-bold: 'helveticaBold';
$font-roman: 'helveticaRoman';
$font-thin: 'helveticaThin';
